$bg-color: #1c4168;
$button-color: #5630dd;

body {
	margin: 20px;
  background-color: $bg-color;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.themeButton {
  padding: 1em 3em;
  background-color: $button-color;
  color: white;
  border: none;
}